.header a {
    /*background-color: #536b78;*/
    font-size: 1.3em;
}

.header a:link,
.header li a:link {
    text-decoration: none;
    /*color: white;*/
}

.active {
    /*background-color: red;*/
}

.footer {
    padding: 1em;
    color: white;
    margin: auto;
    background-color: #536b78;
    position: absolute;
    width: 100%;
    font-size: 1.5em;
}

.abs {
    position: absolute;
}

.btnScenar {
    padding: 1em 1em 1em 1em;
    min-height: 5em;
    display: inline-block;
    text-align: center;
    white-space: normal;
}

scenar.img {
    max-width: 80%;
    margin-right: 2em;
    margin-bottom: 1.5em;
}